<% if object.errors.any? %>
    <div class="validation">
        <h2>
            Oops! Your form could not be saved
        </h2>
        <h3>
            Please correct the following:
            <%= pluralize(object.errors.size, "error") %>
        </h3>
        <ul>
            <b>Please correct the following</b>
            <% object.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>    
        </ul>
    </div>
<% end %>