<footer class="footer">
    <small>
        Ruby Memes App
    </small>

    <nav>
        <ul>
            <p>Made by <a href="https://github.com/nullbr/rubymemeapp">Bruno Leite</p>
        </ul>
    </nav>
</footer>